{% extends "base.html" %}
{% block title %} Последние обновления {% endblock %}
{% load cache %}
{% block content %}
{% load thumbnail %}

<main role="main" class="container">

    {% include "menu.html" with index=True %}

    <h1> Последние обновления на сайте</h1>
    {% cache 20 page_index page %}
    {% for post in page %}
        {% include "post_item.html" with post=post %}
    {% endfor %}

    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}
    {% endcache %}
</main>
{% endblock %}