{% extends "base.html" %}
{% block title %}

{{ title }}

{% endblock %}
{% block content %}
{% load user_filters %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
    <div class="form-group row">
        <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}
            {% if field.required %}<span class="required" style="color:red">*</span>{% endif %}</label>
        <div class="col-md-6">
            {{ field|addclass:"form-control" }}
        </div>
    </div>

    {% endfor %}
    <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-primary">{{ button }}</button>
    </div>


    {% endblock %}